/* 
 * League Spartan is an open source font available at 
 * https://www.theleagueofmoveabletype.com/league-spartan
 */

@font-face {
    font-family: 'League Spartan';
    src: url('bower_components/leaguespartan/_webfonts/leaguespartan-bold.eot');
    src: url('bower_components/leaguespartan/_webfonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('bower_components/leaguespartan/_webfonts/leaguespartan-bold.woff') format('woff'),
         url('bower_components/leaguespartan/_webfonts/leaguespartan-bold.ttf') format('truetype'),
         url('bower_components/leaguespartan/_webfonts/leaguespartan-bold.svg#leaguespartan') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'League Spartan';
}
