/* 
 * League Spartan is an open source font available at 
 * https://www.theleagueofmoveabletype.com/league-spartan
 */

@font-face {
    font-family: 'League Spartan';
    src: url('bower_components/league-spartan/_webfonts/leaguespartan-bold.eot');
    src: url('bower_components/league-spartan/_webfonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('bower_components/league-spartan/_webfonts/leaguespartan-bold.woff') format('woff'),
         url('bower_components/league-spartan/_webfonts/leaguespartan-bold.ttf') format('truetype'),
         url('bower_components/league-spartan/_webfonts/leaguespartan-bold.svg#leaguespartan') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
}

body {
  background:#f8f8f8;
  font-family: 'League Spartan';
  width:100%;
  margin:50px;
  color:#333;
}

.red {
  color:#d00;
}


